:root {
    --primary: #5e35b1;
    --primary-hover: #88B135;
}

::selection {
    background-color: var(--primary);
    color: white;
}

html {
    scroll-behavior: smooth;
}

main {
    padding-top: 0!important;
}

.hide {
    display: none!important;
}

#project-dialog article {
    width: 95%;
    height: 95%;
    max-width: 95%;
    max-height: 95%;
}

dialog {
    padding: 0;
}

.primary {
    background-color: var(--primary);
}

.primary:hover {
    background-color: var(--primary-hover);
}

.warning {
    background-color: #CE102B;
}
.success {
    background-color: #32B826;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
    align-items: center;
}

.between {
    justify-content: space-between;
}

.gap {
    gap: 25px;
}

.bottom {
    margin-bottom: 16px;
}

dialog article:not(.task, .journal) {
    background-color: #13171F;
}

.project:hover {
    cursor: pointer;
    background-color:  #2A333A;
}

#projects article p::before, .log-date::before, .task-name::before {
    content: '\25A0';
    display: inline-block;
    margin-right: 8px;
    font-size: 12px;
}

.log-date {
    display: flex;
    align-items: center;
}

#projects article {
    break-inside: avoid;
}

/*#projects {
    column-count: 2;
    column-gap: 20px;
}*/

small {
    display: block;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

hgroup {
    padding-bottom: 1rem;
}

mark {
    background-color: #d1c284;
    color: black;
}

input:not([type="checkbox"], [type="radio"]), select, textarea {
    margin-bottom: 0;
}

.inactive * {
    cursor: none;
    pointer-events: none;
    color: grey;
}

.workflow-item:hover {
    background-color: var(--primary);
}

a {
    text-decoration: none;
}

.head-link:hover h1 {
    color: #d1c284;
}

.head-link:hover kbd {
    background-color: #d1c284;
}

/** inbox **/

.list-element:hover {
    cursor: pointer;
    background-color: purple;
}

.list-element * {
    pointer-events: none;
}

.list-elements article {
    background-color: #181c25!important
}


/** projects **/

.project {
    margin: 0 0 25px 0;
    padding: 25px;
}

.project * {
    margin-bottom: 0;
}

.project p {
    display: flex;
    align-items: center;
}

.task-container p {
    margin: 0;
    padding: 0;
}

.task-container .task {
    margin: 10px;
    padding: 15px;
}

.project .project-title {
    pointer-events: none;
}

#project-dialog-close {
    cursor: pointer;
}

.tasks-container {
    margin-top: 25px;
}

.drag-icon:hover {
    cursor: grab;
}

.tasks-container input {
    align-self: center;
}

input[checked] {
    background-color: #A298BD;
}

.thoughts article {
    padding: 0;
}

blockquote {
    background-color: #181c25
}

header {
    padding-top:25px!important;
    padding-bottom:25px!important;
}

section {
    margin-bottom: 25px;
}

button, button:focus {
    border: none!important;
}

.dropdown {
    min-width: 121px;
}

.task-name {
    display: flex;
    align-items: center;
}

.task-buttons {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.task-buttons button {
    max-height: 57.5px;
}

.task, .journal {
    margin: 10px;
    padding: 15px;
    overflow: visible;
}

blockquote {
    padding-top: 0;
    margin-top: 0;
}

.project-title {
    width: 100%;
}

.task {
    min-width: 100%;
}