:root {
    --primary: #5e35b1;
    --primary-hover: #88B135;
}

::selection {
    background-color: var(--primary);
    color: white;
}

html {
    scroll-behavior: smooth;
}

main {
    padding-top: 0!important;
}

.hide {
    display: none!important;
}

dialog article {
    width: 95%;
    height: 95%;
    max-width: 95%;
    max-height: 95%;
}

dialog {
    padding: 0;
}

.primary {
    background-color: var(--primary);
}

.primary:hover {
    background-color: var(--primary-hover);
}

.warning {
    background-color: #CE102B;
}
.success {
    background-color: #32B826;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
    align-items: center;
}

.between {
    justify-content: space-between;
}

.gap {
    gap: 25px;
}

.bottom {
    margin-bottom: 16px;
}

dialog article:not(.subtask) {
    background-color: #13171F;
}

.project:hover {
    cursor: pointer;
    background-color:  #2A333A;
}

.projects article p::before, .log-date::before {
    content: '\25A0';
    display: inline-block;
    margin-right: 8px;
    font-size: 12px;
}

.log-date {
    display: flex;
    align-items: center;
}

.projects article {
    break-inside: avoid;
}

.projects {
    column-count: 2;
    column-gap: 20px;
}

small {
    display: block;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

hgroup {
    padding-bottom: 1rem;
}

mark {
    background-color: #d1c284;
    color: black;
}

input:not([type="checkbox"], [type="radio"]), select, textarea {
    margin-bottom: 0;
}

.inactive * {
    cursor: none;
    pointer-events: none;
    color: grey;
}

.workflow-item:hover {
    background-color: var(--primary);
}

a {
    text-decoration: none;
}

.head-link:hover h1 {
    color: #d1c284;
}

.head-link:hover kbd {
    background-color: #d1c284;
}

/** inbox **/

.list-element:hover {
    cursor: pointer;
    background-color: purple;
}

.list-element * {
    pointer-events: none;
}

.list-elements article {
    background-color: #181c25!important
}


/** projects **/

.project {
    margin: 0 0 25px 0;
    padding: 25px 25px 5px 25px;
}

.subtask-container p {
    margin: 0;
    padding: 0;
}

.subtask-container .subtask {
    margin: 10px;
    padding: 15px;
}


.project * {
    pointer-events: none;
}

.subtasks {
    margin-top: 25px;
}

.drag-icon:hover {
    cursor: grab
}

.subtasks input {
    align-self: center;
}

.checked-subtasks p {
    text-decoration: line-through;
}

input[checked] {
    background-color: #A298BD;
}

.thoughts article {
    padding: 0;
}

blockquote {
    background-color: #181c25
}